@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
/*
font-family: 'Pacifico', cursive;
font-family: 'Source Sans Pro', sans-serif;
*/
*{box-sizing: border-box; font-family: 'Source Sans Pro', sans-serif;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

.font_pacifico{font-family: 'Pacifico', cursive;}

/*#header part*/
/*#header part*/
#header{}
#header #top{width: 100%; height: 30px; background-color: #000;}
#header #top .wrap{width: 1160px; height: 100%; margin: 0 auto; /*background: #777;*/ color:#fff; padding: 0 10px;}
#header #top .wrap .left{float: left;} /*부모 공간으로부터 좌측에 배치*/
#header #top .wrap .left ul{}
#header #top .wrap .left ul li{float: left; margin-right: 10px; /*background: #950;*/} /*내부에서 좌측 기준으로 가로 배치*/
#header #top .wrap .left ul li p{line-height: 30px; font-size: 14px;}

#header #top .wrap .right{float: right; padding: 8px 0;} /*부모 공간으로부터 우측에 배치*/
#header #top .wrap .right ul{}
#header #top .wrap .right ul li{float: left; margin-left: 10px; /*background: #000;*/}
#header #top .wrap .right ul li a{display: block; line-height: 1; font-size: 14px; color:#fff;}
#header #top .wrap .right ul li:hover a{color:#f60;}
#header #top .wrap .right ul li a i{display: block;}

#header #main{width: 100%; height: 560px; background-image: url(../img/1.jpg); background-size: cover; background-position: 50% 50%; background-attachment: fixed;}
#header #main .dark{width: 100%; height: 100%; background-color: rgba(0,0,0,0.5);}
#header #main .dark .wrap{width: 1160px; height: 66px; margin: 0 auto; padding: 0 10px;}
#header #main .dark .wrap .logo{float: left; padding: 17px 0;}
#header #main .dark .wrap .logo a{}
#header #main .dark .wrap .logo a img{display: block;}

#header #main .dark .wrap .menu{float: right;}
#header #main .dark .wrap .menu ul{float: left;}
#header #main .dark .wrap .menu ul li{float: left;}
#header #main .dark .wrap .menu ul li a{display: block; padding: 0 20px; line-height: 66px; font-size: 16px; color:#fff; font-weight: bold;}
#header #main .dark .wrap .menu ul li:hover a{background-color: rgba(255,255,255,0.6); color:#f60;}

#header #main .dark .wrap .menu .reserve_btn{float: left; width: 180px; height: 66px; /*background: #ff0;*/ text-align: right; padding-top: 12px;}
#header #main .dark .wrap .menu .reserve_btn a{display: inline-block; padding: 10px 14px; border:1px solid #f60; background-color: #f60; color:#fff; border-radius:4px; font-size: 16px; font-weight: bold;}
#header #main .dark .wrap .menu .reserve_btn a:hover{background-color: #fff; color:#f60;}



/*내가 한 거..... */
/* #header #main .dark .main_title{width: 1160px; height: 494px; margin: 0 auto; position: relative; text-align: center; }
#header #main .dark .main_title .wrap{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#header #main .dark .main_title .wrap .title1{}
#header #main .dark .main_title .wrap .title1 h1{font-size: 54px; line-height: 72px; font-family: 'Pacifico', cursive; color: #fff;}

#header #main .dark .main_title .wrap .title2{ padding-top: 40px; padding-bottom: 40px;}
#header #main .dark .main_title .wrap .title2 p{font-size: 14px; color: #fff;}

#header #main .dark .main_title .wrap .Btn_wrap{}
#header #main .dark .main_title .wrap .Btn_wrap ul{}
#header #main .dark .main_title .wrap .Btn_wrap ul li{display: inline-block; margin: 0 20px; width: 202px; height: 44px; border: 1px solid #f60; border-radius: 8px;} 
#header #main .dark .main_title .wrap .Btn_wrap ul li a{ font-size: 16px; font-weight: bold; line-height: 44px; color: #fff;} */

/* 선생님 */
/* 부모(position:relativ) 기준, 자식(position:absolute) 중앙배치 */
/* #header #main .dark .main_title{
    width: 1160px; height: 494px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}
#header #main .dark .main_title .cont{
    position: absolute;
    width: 100%;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; color: #fff;
} */

/* 부모(display:table) 기준, 자식(display:table-cell) 중앙배치 */
#header #main .dark .main_title{
    width: 1160px; height: 494px;
    margin: 0 auto;
    padding: 0 10px;
    display: table;
}
#header #main .dark .main_title .cont{
    display: table-cell; 
    text-align: center; vertical-align: middle;
    color: #fff;
}
#header #main .dark .main_title .cont h1{font-size: 54px; line-height: 72px;}
#header #main .dark .main_title .cont p{ font-size: 16px; padding: 40px 0;}
#header #main .dark .main_title .cont ul{font-size: 0;}
#header #main .dark .main_title .cont ul li{display: inline-block; margin: 0 10px;}
#header #main .dark .main_title .cont ul li a{display: block; font-size: 16px; width: 202px; height: 44px; border: 1px solid #f60; border-radius: 8px; text-transform: capitalize; color: #fff; line-height: 42px;}

#header #main .dark .main_title .cont ul li:hover a{background-color: rgba(255,255,255,0.4); color: #f60;}



/* *********************#story_part 내가 한 거..******************* */
/* #story{}
#story .wrap{
    width: 1160px;
    padding: 0 10px;
    margin: 0 auto; background-color: #faf;
    text-align: center;
}

#story .wrap .title{
    padding-top: 60px; padding-bottom: 20px; color: #555;}
#story .wrap .title h2{
    font-size: 54px; line-height: 72px;
    background-color: #fff;
}
#story .wrap .title span{color: #f60}
#story .wrap .title p{padding-top: 40px;}

#story .wrap .cont{height: 200px; padding: 0 15px;font-size: 0;} 
#story .wrap .cont .img_part{
    display: inline-block;
    vertical-align: center;
    width: 50%; height: 200px;
    background-color: #afa;
    background-image: url(../img/cook-01.jpg);
    background-size: cover; background-position: 50% 75%;
    border-radius: 8px;
}
#story .wrap .cont .txt_part{
    display: inline-block;
    width: 50%; 
    vertical-align: middle;
    background-color: #aff;
}
#story .wrap .cont .txt_part p{font-size: 16px;}
#story .wrap .cont .txt_part img{padding-top: 40px;}

#story .wrap .plate_img{background-color: #ffa;}
#story .wrap .plate_img img{display: block; width: 100%; padding-top: 100px;} */

/* ***************************#story_part 선생님이 한 거 ... *********************/
#story{width: 100%; height: 600px; /*background-color: #ddd;*/ overflow: hidden;}
#story .wrap{
    width: 1160px; height: 100%;
    padding: 0 10px; margin: 0 auto; /*background-color: #ffa;*/
}
#story .wrap .title_part{
    padding-top: 60px; padding-bottom: 40px;
    text-align: center;
}
#story .wrap .title_part h2{font-size: 60px; color: #555; line-height: 72px;}
#story .wrap .title_part span{color: #f60;}
#story .wrap .title_part p{font-size: 16px; color: #555; padding-top: 20px;}

#story .wrap .cont_part{font-size: 0;}
#story .wrap .cont_part > div{
    display:inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 0 15px;
    font-size: 16px;;
}
#story .wrap .cont_part > .img_part{
    height: 200px;/* background-color: #ffe;*/
}
#story .wrap .cont_part .img_part .image{
    width: 100%; height: 100%; 
    background-image: url(../img/cook-01.jpg);
    background-size: cover; background-position: 50% 50%;
    border-radius: 8px;
    /* background-color: #aaf; */
}
#story .wrap .cont_part > div.txt_part{text-align: center; /* background: #faa;*/}
#story .wrap .cont_part > div.txt_part p{color: #555; padding-bottom: 40px;}
#story .wrap .cont_part > div.txt_part a{display: inline-block; height: 19px;}
#story .wrap .cont_part > div.txt_part a img{}

#story .wrap .deco_img{padding-top: 100px; }
#story .wrap .deco_img img{width: 100%; display: block; }




/* midEdu1 중간... */
#midEdu1{}
#midEdu1 .outer{
    width: 300px; height: 300px; 
    background-image: url(../img/menu_2.jpg);
    background-size: cover; background-position: 50% 50%;
    padding: 20px;
    border-radius: 10px;
}
#midEdu1 .outer .dark_bg{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 20px;
    position: relative;
    color: #fff;
    /* display: none;
    transition: display 1s; */
    opacity: 0; transition: opacity 1s;
}
#midEdu1 .outer .drak_bg:hover{/*display: block;*/ opacity: 1;}

#midEdu1 .outer .dark_bg h3{font-size: 28px;}
#midEdu1 .outer .dark_bg p{padding-top: 10px;}
#midEdu1 .outer .dark_bg span{
    position: absolute;
    bottom: 20px; right: 20px;
    color: #f60;
}



/* #Special 내가 한 거... */
#special{
    width: 100%; height: auto;
    background-color: #ededed;
}
#special #top_bg{
    width: 100%; height: 460px;
    background-image: url(../img/2.jpg);
    background-size: cover; background-position: 50% 50%;
    background-attachment: fixed;
}
#special #top_bg .dark_bg{
    width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.4);
}

#special #main_cont{
    width: 1160px; height: 1150px;
    padding: 0 10px;
    margin: 0 auto;
    margin-top: -360px;
}
#special #main_cont .title_part{
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
}
#special #main_cont .title_part h3{
    font-size: 54px;
    line-height: 72px;
    padding: 20px 0;
}
#special #main_cont .title_part p{
    font-size: 16px;
}

#special #main_cont .wrap{font-size: 0;}
#special #main_cont .wrap .img_box{
    width: calc(100% / 3 - 30px); height: 360px;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    padding: 20px;
    margin: 0 15px 30px;
    vertical-align: top;
    background-size: cover; background-position: 50% 50%;
    cursor: pointer;
}
#special #main_cont .wrap .img_box:nth-child(1){background-image: url(../img/menu_1.jpg); width: calc(100% / 3 * 2 - 30px);}
#special #main_cont .wrap .img_box:nth-child(2){background-image: url(../img/menu_2.jpg);}
#special #main_cont .wrap .img_box:nth-child(3){background-image: url(../img/menu_3.jpg);}
#special #main_cont .wrap .img_box:nth-child(4){background-image: url(../img/menu_4.jpg);}
#special #main_cont .wrap .img_box:nth-child(5){background-image: url(../img/menu_5.jpg);}

#special #main_cont .wrap .img_box .darkBox{
    height: 100%; 
    background-color: rgba(0,0,0,0.4);
    border-radius: 8px;
    padding: 20px;
    color: #fff;
    position: relative;
    opacity: 0; transition: opacity 0.5s;
}
#special #main_cont .wrap .img_box .darkBox h4{
    font-size: 28px; font-weight: bold;
    text-transform: capitalize;
}
#special #main_cont .wrap .img_box .darkBox p{
    font-size: 18px; font-weight: lighter;
}
#special #main_cont .wrap .img_box .darkBox span{
    position: absolute;
    font-size: 28px;
    color: #f60;
    bottom: 20px; right: 20px;
}

#special #main_cont .wrap .img_box:hover .darkBox{ opacity: 1;}

#special #main_cont .arrow{text-align: center; }
#special #main_cont .arrow a{}
#special #main_cont .arrow img{padding-top: 60px;}



/* midEdu2 중간... */
#midEdu2{}
#midEdu2 .frame{
    width: 900px;
    margin: 0 auto;
    padding: 40px 0; background-color: #aff;
    font-size: 0;
}
#midEdu2 .frame .box{
    display: inline-block;
    width: calc(100% / 3 - 20px);
    height: 280px;
    margin: 0 10px;
    background-color: #faa;
}



/* dishes 내가 한 거... */
#dishes{
    background-image: url(../img/3.png);
    background-size: cover; background-position: 50% 50%;
    background-attachment: fixed;
    padding-top: 20px;
}
#dishes .wrap{
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #efe;
}
#dishes .wrap .title_part{text-align: center; color: #555; padding-bottom: 80px;}
#dishes .wrap .title_part h3{padding: 20px 0; font-size: 54px; line-height: 72px; /*background-color: #eea;*/}
#dishes .wrap .title_part p{font-size: 16px;}

#dishes .wrap .cont_part{/*background-color: #aee;*/}
#dishes .wrap .cont_part .cate_box{}
#dishes .wrap .cont_part .cate_box .cate_title{
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}
#dishes .wrap .cont_part .cate_box .cate_title h3{font-size: 24px; font-weight: bold; color: #999;}

#dishes .wrap .cont_part .cate_box .cate_detail{
    width: 100%;
    font-size: 0;
    position: relative;
}
#dishes .wrap .cont_part .cate_box .cate_detail .centerLine{
    position: absolute;
    width: 1px; height: 100%;
    background-color: #cfcfcf;
    top: 0; left: 50%;
    padding: 0; /* div에 좌우 패딩 15px을 줬기 때문에 !*/
    transform: translateX(-50%);
}
#dishes .wrap .cont_part .cate_box .cate_detail > div{
    display: inline-block;
    width: 50%;
    padding: 0 15px;
    vertical-align: top; 
}
#dishes .wrap .cont_part .cate_box .cate_detail > div > div{padding-bottom: 20px;}

#dishes .wrap .cont_part .cate_box .cate_detail > div > div h4{font-size: 20px; font-weight: bold; color: #555;}
#dishes .wrap .cont_part .cate_box .cate_detail > div > div p{font-size: 16px; color: #555;}
#dishes .wrap .cont_part .cate_box .cate_detail > div > div span{
    display: block;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    color: #f60;
}


#dishes .wrap .arrow{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 30px;
}
#dishes .wrap .arrow a{}
#dishes .wrap .arrow a img{}
